
<div id="navbar">
  <p class="nav-p">

    <span class="navbar-item">
      <i class="fas fa-home"></i>
      @Html.ActionLink("Salon", "Index", "Home", null, new {@class="navbarLink"})
    </span>
    
    <span class="navbar-item">|</span>

    <span class="navbar-item">
      <i class="fas fa-list-ul"></i>
      @Html.ActionLink("Stylists", "Index", "Stylists", null, new {@class="navbarLink"}) 
    </span>
    <span class="navbar-item">
      <i class="fas fa-user-plus"></i>
      @Html.ActionLink("Stylist", "Create", "Stylists", null, new {@class="navbarLink"})  
    </span>

    <span class="navbar-item">|</span>

    <span class="navbar-item">
      <i class="fas fa-list-ul"></i>
      @Html.ActionLink("Clients", "Index", "Clients", null, new {@class="navbarLink"}) 
    </span>
    <span class="navbar-item">
      <i class="fas fa-user-plus"></i>
      @Html.ActionLink("Client", "Create", "Clients", null, new {@class="navbarLink"}) 
    </span>
    
  </p>
</div>
