@{
    Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist

<div class="page-title"></div>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId, new {@class = "hidden"})

  <div class="submit-table form-group">
    <div class="table-head">
      <p>Edit Stylist</p>
    </div>
    <div class="table-body">
      <div class="row">
        <div class="table-label">
          @Html.LabelFor(model => model.Name)
        </div>
        <div class="table-input">
          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-input" } })
        </div>
      </div>
      <div class="row">
        <div class="table-label">
          @Html.LabelFor(model => model.Specialty)
        </div>
        <div class="table-input">
          @Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @class = "form-control form-input" } })
        </div>
      </div>  
      <div class="row">
        <div class="table-label"></div>
        <div class="table-input">
          <input class="btn btn-dark form-submit" type="submit" value="Save"/>
          @Html.ActionLink("Delete", "Delete", new { id = Model.StylistId }, new { @class="btn btn-warning form-submit"})
        </div>
      </div>
    </div class="table-body">
  </div>
}